// These are pulled from react-json-pretty which used Stylus (.styl) files. Screw that.

.json-pretty {
  line-height: 1.3;
  color: #66d9ef;
  background: #272822;
  margin: 10px;
  padding: 10px;

  .json-key {
    color: #F92672;
  }

  .json-value {
    color: #A6E22E;
  }

  .json-string {
    color: #FD971F;
  }

  .json-boolean {
    color: #AC81Fe;
  }

}