.header {
  font-size: 18px;
  font-weight: bold;
}

.flabel {
  font-size: 16px;
  margin-bottom: 6px;
}

.antipasto-light {
  font-family: 'Antipasto', sans-serif !important;
}

.antipasto-medium {
  font-family: 'Antipasto', sans-serif !important;
  font-weight: bold;
}
