.workout-enter {
  opacity: 0.01;
}

.workout-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.workout-exit {
  opacity: 1;
}

.workout-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 200ms ease-in;
}



