

@mixin hover-shadow {
  -webkit-box-shadow: 2px 2px 4px -1px rgba(133, 133, 133, 1);
  -moz-box-shadow: 2px 2px 4px -1px rgba(133, 133, 133, 1);
  box-shadow: 2px 2px 4px -1px rgba(133, 133, 133, 1);
}

@mixin light-shadow {
  -webkit-box-shadow: 2px 2px 5px 0px rgba(209, 209, 209, 0.5);
  -moz-box-shadow: 2px 2px 5px 0px rgba(209, 209, 209, 0.5);
  box-shadow: 2px 2px 5px 0px rgba(209, 209, 209, 0.5);
}

@mixin very-light-shadow {
  -webkit-box-shadow: 2px 2px 2px 0px rgba(220, 220, 220, 0.25);
  -moz-box-shadow: 2px 2px 2px 0px rgba(220, 220, 220, 0.25);
  box-shadow: 2px 2px 2px 0px rgba(220, 220, 220, 0.25), -2px -2px 2px 2px rgba(255, 255, 255, 1);
}

@mixin light-border {
  border: 1px solid #f0f0f0;
  border-radius: 5px;
}
