<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207697785725-jschhr55p8p345fijqmk1lp8aasf9snt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207697785725-jschhr55p8p345fijqmk1lp8aasf9snt</string>
	<key>API_KEY</key>
	<string>AIzaSyCEW0dHGfQZ6jwmBwbA-pZOmgFIdB9V2_4</string>
	<key>GCM_SENDER_ID</key>
	<string>207697785725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thelotusmethod.lucy</string>
	<key>PROJECT_ID</key>
	<string>tlm2021-41ce7</string>
	<key>STORAGE_BUCKET</key>
	<string>tlm2021-41ce7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207697785725:ios:8edb3402d05fe57778d214</string>
	<key>DATABASE_URL</key>
	<string>https://tlm2021-41ce7.firebaseio.com</string>
</dict>
</plist>